.add-stock-section {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.add-stock-section form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-stock-section input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.add-stock-section button {
  padding: 10px;
  border: none;
  background: #06212c;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.add-stock-section button:hover {
  background: #2d3436;
}
