doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Add Sales - MWF
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/addSales.css')
  link(rel='stylesheet' href='css/addSaleErrors.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/js/all.min.js' defer='')
#hamburger.hamburger
  i.fas.fa-bars
#sidebar.sidebar
  .logo MWF
  ul.menu
    li
      a(href='dashboard.html')
        i.fa-solid.fa-gauge-high
        span Dashboard
    li
      a(href='products.html')
        i.fas.fa-box
        span Products
    li
      a(href='addStock.html')
        i.fas.fa-plus-square
        span Add Stock
    li
      a(href='viewStock.html')
        i.fas.fa-list
        span View Stock
    li
      a.active(href='addSales.html')
        i.fa-solid.fa-comments-dollar
        span Add Sales
    li
      a(href='viewSales.html')
        i.fas.fa-dollar-sign
        span Sales
    // <li><a href="rawMaterials.html"><i class="fas fa-cubes"></i><span>Raw Materials</span></a></li>
    li
      a(href='suppliers.html')
        i.fas.fa-truck
        span Suppliers
    // <li><a href="delivery.html"><i class="fas fa-route"></i><span>Delivery</span></a></li>
    li
      a(href='todo.html')
        i.fas.fa-list
        span To-Do
    li
      a(href='reports.html')
        i.fas.fa-file-alt
        span Reports
    li
      a(href='employees.html')
        i.fas.fa-user
        span Employees
    li
      a(href='settings.html')
        i.fa-solid.fa-gear
        span Settings
    li.logout
      a(href='logout.html')
        i.fas.fa-sign-out-alt
        span Logout
main.main-content
  .content-container
    header.header-wrapper
      .header-title
        span Mayondo Wood and Furniture
        h2 Add Sales
    section.add-sales-section
      h3 Record New Sale
      // Main error message
      #mainError.main-error-message(style='display:none;')
      form#addSalesForm(novalidate='')
        label(for='customerName') Customer Name 
        input#customerName(type='text' name='customerName')
        #errorCustomerName.error-message
        label(for='productType') Product Type 
        select#productType(name='productType')
          option(value='' disabled='' selected='') Select product type
          option Timber
          option Poles
          option Hardwood
          option Softwood
          option Furniture
        #errorProductType.error-message
        label(for='productName') Product Name 
        select#productName(name='productName')
          option(value='' disabled='' selected='') Select product name
        #errorProductName.error-message
        label(for='quantity') Quantity 
        input#quantity(type='number' name='quantity' value='1')
        #errorQuantity.error-message
        label(for='saleDate') Sale Date 
        input#saleDate(type='date' name='saleDate')
        #errorSaleDate.error-message
        label(for='paymentType') Payment Type 
        select#paymentType(name='paymentType')
          option(value='' disabled='' selected='') Select payment type
          option(value='cash') Cash
          option(value='cheque') Cheque
          option(value='bankOverdraft') Bank Overdraft
        #errorPaymentType.error-message
        label(for='salesAgent') Sales Agent Name 
        input#salesAgent(type='text' name='salesAgent')
        #errorSalesAgent.error-message
        div(style='margin-top:10px;')
          input#transportProvided(type='checkbox' name='transportProvided')
          label(for='transportProvided') Transport Provided? (+5%)
        label(for='unitPrice') Unit Price (UGX) 
        input#unitPrice(type='number' name='unitPrice' value='0' step='0.01')
        #errorUnitPrice.error-message
        label(for='totalPrice') Total Price (UGX)
        input#totalPrice(type='text' name='totalPrice' readonly='')
        label(for='transportCharge') Transport Charge (5%) (UGX)
        input#transportCharge(type='text' name='transportCharge' readonly='')
        label(for='overallTotal') Overall Total (UGX)
        input#overallTotal(type='text' name='overallTotal' readonly='')
        button(type='submit') Record Sale
      #successMessage.success-message(style='display:none;')
script(src='js/main.js')
script(src='js/storage.js')
script(src='js/addSales.js')
script(src='js/addSaleStorage.js')