doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Logout - Mayondo Wood and Furniture
  link(rel='stylesheet' href='../css/index.css')
.landing-container
  h1 You have been logged out
  p.intro
    | Thank you for using Mayondo Wood and Furniture.
    | If you&rsquo;d like to access your account again, please log back in.
  .buttons
    a.btn.btn-login(href='/logIn' role='button' aria-label='Log In Again') Log In Again